<header class="header">
    <p class="header__title">Loupfit</p>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <ng-container *ngIf="id; else linksPublicTemplate">
               <ng-container *ngFor="let link of notAdmin(role)">
                    <app-nav-item [linkText]="link"></app-nav-item>
                </ng-container>
            </ng-container>
            <ng-template #linksPublicTemplate>
                <ng-container *ngFor="let link of notAdmin(role)">
                    <app-nav-item [linkText]="link"></app-nav-item>
                </ng-container>
            </ng-template>
        </ul>
    </nav>
</header>
