<header class="header">
    <p class="header__title">Loupfit</p>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <ng-container *ngIf="id">
               <ng-container *ngFor="let link of linksPrivate">
                    <app-nav-item [linkText]="link"></app-nav-item>
                </ng-container>
            </ng-container>
           <ng-container *ngFor="let link of linksPublic">
                <app-nav-item [linkText]="link"></app-nav-item>
            </ng-container>
        </ul>
    </nav>
</header>
