.login-container {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2em;

    &__box {
        width: 35%;
    }

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: #706f6f;
        margin-bottom: .2em;
    }

    &__text {
        font-size: 1rem;
        color: #919090;
        margin-bottom: 1em;
        letter-spacing: .6px;
    }
}