.login-container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__left {
        position: relative;
        width: 60%;
        height: 100%;
        overflow: hidden;


        &::before {
            content: "";
            position: absolute;
            top: -50%;
            left: -20%;
            height: 200%;
            width: 200%;
            background-image: url(../../../assets/images/profile-image.png);
            background-repeat: repeat;
            background-size: 100px;
            background-position: center;
            transform: rotate(-20deg);
        }
    }


    &__right {
        width: 40%;
    }

    &__box {
        width: 70%;
        margin: 0 auto;
    }

    &__subtitle {
        font-size: 1.8rem;
        font-weight: 600;
        color: #706f6f;
        margin-bottom: .2em;
    }

    &__text {
        font-size: 1rem;
        color: #919090;
        margin-bottom: 1em;
        letter-spacing: .6px;
    }
}